

.markdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-xxl) var(--spacing) 0;
  font-size: var(--font-size);
  line-height: 1.6;
}

.markdown > * {
  max-width: 800px;
  width: 100%;
}


.markdown p,
.markdown ul,
.markdown ol,
.markdown table,
.markdown blockquote {
  margin-top: 0;
  margin-bottom: 1.2em;
}

.markdown > *:last-child {
  margin-bottom: 0;
}

.markdown a {
  word-break: break-word;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

.markdown > *:first-child {
  margin-top: 0;
}

.markdown h1 {
  color: var(--accent-1);
  font-size: var(--font-size-xl);
}

.markdown h1 + h2 {
  margin-top: 0;
}

.markdown h2 {
  font-size: var(--font-size-l);
}

.markdown h2 + h3 {
  margin-top: 0;
}

.markdown h3 {
  font-weight: bold;
  font-size: var(--font-size);
}


.markdown h1 + p,
.markdown h2 + p,
.markdown h3 + p,
.markdown h1 + ul,
.markdown h2 + ul,
.markdown h3 + ul {
  margin-top: 0;
}

.markdown ul,
.markdown ol {
  padding-left: 0;
}

.markdown li {
  list-style-position: outside;
  margin-left: var(--spacing);
}

.markdown li + li {
  margin-top: 0.35em;
}

.markdown li > ul,
.markdown li > ol {
  margin-top: 0.35em;
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .markdown ul,
  .markdown ol {
    padding-left: var(--spacing-l);
  }

  .markdown li {
    margin-left: 0;
  }
}

.markdown table {
  border-collapse: collapse;
  width: 100%;
}

.markdown th,
.markdown td {
  text-align: left;
  padding: var(--spacing-s) var(--spacing);
  border-bottom: 1px solid var(--light-gray);
}

