<div class="navigation">
  <div class="bar max-width">
    <div class="max-width-inner">
      <a href="/"><img src="/media/ScienceForUkraine-logo-header.png" alt="Science For Ukraine"/></a>
      <button class="menu-button" id="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        <span class="burger-icon" id="burger-icon"></span>
      </button>
    </div>
  </div>
  <div class="menu max-width" id="menu">
    <nav class="max-width-inner">
      <span class="label">Listings</span>
      <div class="items">
        <a data-nav="listings" href="/listings">Positions &amp; Support Offers</a>
        <a target="_blank" href="https://scienceforukraine.eu/submit">Submit Listing</a>
        <a target="_blank" href="mailto:data@scienceforukraine.eu">Request Changes</a>
      </div>
    </nav>
    <nav class="max-width-inner">
      <span class="label">More Information</span>
      <div class="items">
        <a data-nav="funding-programmes" href="/funding-programmes">Funding Programmes<br>&amp; Further Support</a>
        <a data-nav="mtg" href="/mtg">Micro Travel Grants</a>
        <a data-nav="help" href="/help">How You Can Help</a>
        <a data-nav="donate" href="/donate">Donate</a>
        <a data-nav="about" href="/about">About Us</a>
        <a data-nav="news" href="/news">Latest Updates</a>
        <a data-nav="press" href="/press">Press &amp; Media</a>
        <a data-nav="partners" href="/partners">Our Partners</a>
      </div>
    </nav>
  </div>
</div>
